<section id="about" class="about">
  <div class="container">
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">Jessica Wyatt</h3>
        <p>I am a former biologist turned web-developer. I have a BSc in Marine/Molecular Biology and a MSc in Marine Biology. Most recently I completed a web-development bootcamp from BrainStation with a MERN stack focus. My coding journey began in 2017 when I completed an R workshop as a course requirment for a PhD I was pursuing. From there I began self-directed learning beginning with HTML/CSS and Javascript before taking a dive into the bootcamp. I have had a passion for STEM since I got my first microscope when I was 9 years old. Somewhere along the line I fell out of love with biology (too much grad school?) and software/application development has reignited my spark and I am excited about my new career path! I value continuously being challenged, lifelong learning, and professional/personal growth.</p>

        <p>To date my skillset includes: Javascript, React, Node.js, Express.js, HTML, CSS, Ruby/Ruby on Rails, Database (MongoDB, PostgreSQL), R, Responsive design, and Test Driven Development (Jest, Enzyme, RSpec). I cam currently learning Python (cause I love data science) and WordPress (for fun)</p>

      </div>
      <div class="media-right">
        <img src="img/about.png" class="media-object" style= "width:20vw">
      </div>
    </div>
    </div>
  <!-- /.container -->
</section>

