<aside class="callout">
  <div class="container">
    <div class="personal-info">
      <h1>Work Experience</h1>

      <h4>I have almost ten years experience working with the federal government, within universities, and as an educator. Throughout this time I have managed several projects, from proposal writing through to  manuscript publication.</h4>
        
      <h4>Throughout grad school I discovered Public Speaking as a passion. I have been fortunate enough to present my research to local, national, and international conferences, I even got the chance to tell part of my story at the March for Science. 
      </h4>

      <h4>In 2017 I was elected as the Director of Student Services of the UVic Graduate Student Society. In my role I was chair of two committees, participated on a senate committee, and was an advocate for student rights.</h4>
      
    </div>
    <div class="soft-skills">

      <article class="col">
        <div class="spacer"></div>
        <div class="circle">
          <h1 class="skills">Communication</h1>
          <!-- <p>Conferences</p>
        <p>Public speaking</p> -->
        </div>
      </article>

      <article class="col">
        <div class="spacer"></div>
        <div class="circle">
          <h1 class="skills">Technical writing</h1>
          <!-- <p href="https://scholar.google.ca/scholar?hl=en&as_sdt=0%2C5&q=jessica++wyatt+&btnG=">Publications</p> -->
        </div>
      </article>

      <article class="col">
        <div class="spacer"></div>
        <div class="circle">
          <h1 class="skills">Project management</h1>
          <!-- <p>Scheduling</p>
                    <p>Budgeting</p> -->
        </div>
      </article>

      <article class="col">
        <div class="spacer"></div>
        <div class="circle">
          <h1 class="skills">TDD</h1>
          <!-- <p>Scheduling</p>
                      <p>Budgeting</p> -->
        </div>
      </article>




    </div>
  </div>
</aside>