<aside class="callout">
  <div class="container">
    <div class="soft-skills">

      <div class="col">
        <div class="spacer"></div>
        <div class="circle">
          <h2>Soft Skills</h2>
        </div>
      </div>

      <div class="col">
        <div class="spacer"></div>
        <div class="circle">
          <h4>Communication</h4>
          <!-- <p>Conferences</p>
        <p>Public speaking</p> -->
        </div>
      </div>
      <div class="col">
          <div class="spacer"></div>
          <div class="circle">
              <h4>Technical writing</h4>
              <!-- <p href="https://scholar.google.ca/scholar?hl=en&as_sdt=0%2C5&q=jessica++wyatt+&btnG=">Publications</p> -->
          </div>
        </div>

        <div class="col">
            <div class="spacer"></div>
            <div class="circle">
                <h4>Project management</h4>
                <!-- <p>Scheduling</p>
                    <p>Budgeting</p> -->
            </div>
          </div>
     
          <div class="col">
              <div class="spacer"></div>
              <div class="circle">
                  <h4>Test Driven Development</h4>
      <!-- <p>Jest</p>
            <p>RSpec</p> -->
              </div>
            </div>
   

      

    </div>
  </div>
</aside>