<aside class="callout">
  <div class = "container">
      <div class="row text-center">
          <div class="col-lg-10 col-lg-offset-1">
  <div class="soft-skills">
    <h2>Soft Skills</h2>
    <ul>
      <li class="circle">
        <h4>Communication</h4>
        <!-- <p>Conferences</p>
        <p>Public speaking</p> -->
      </li>
      <li class="circle">
        <h4>Technical writing</h4>
        <!-- <p href="https://scholar.google.ca/scholar?hl=en&as_sdt=0%2C5&q=jessica++wyatt+&btnG=">Publications</p> -->
      </li>
      <li class="circle">
          <h4>Project management</h4>
          <!-- <p>Scheduling</p>
          <p>Budgeting</p> -->
        </li>
        <li class="circle">
            <h4>Test Driven Development</h4>
            <!-- <p>Jest</p>
            <p>RSpec</p> -->
          </li>
    </ul>
    </div>
    </div>
  </div>
  </div>
</aside>
